@import url(https://fonts.googleapis.com/css?family=Raleway);

#karte {
  width:400px;
  height:505px;
  background-color:#cbc593;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Raleway', sans-serif;
  border-radius:5px;
  overflow:hidden;
}
#kopf {
  height:340px;
  background-color:#baa96f;
}
#profil {
  padding-top:50px;
  width:250px;
  height:300px;
  margin-left:auto;
  margin-right:auto;
  color:white;
  text-align:center;
}
#profil a {
  font-weight:bold;
    font-size: 150%;
    line-height: 45px; 
     
}
#profil p {
  font-size:100%;
    line-height: -10px; 
    margin-top: 5
}
#profil_img {
  width:180px;
  height:180px;
  overflow:hidden;
  border-radius:100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
}
#profil_img img {
  width:300px;
  margin-left:-60px;
    margin-top: -170;
}

#kurse {
    height: 40px; 
    background-color:#cbc593;
    margin-left:auto;
    margin-right:auto;
    color:white;
    text-align:center;
}

#kurse a {
    font-weight:bold;
    font-size: 110%;
    background-color:#cbc593;
    line-height: 45px; 
    text-decoration: underline; 
}

#kursnamen {
    height: 70px;
    background-color:#cbc593;
    color:white;
    margin-left: 20px; 
}

.box1 {
    float: left; 
    margin-right: 38; 
    margin-left: -10
}

#kursnamen ul {
    line-height: 110%; 
    margin-top: 1pt; 
    float: 
}

#social {
  background-color:#f0ebc3;
  height:55px;
}
.box {
  width:200px;
  height:55px;
  float:left;
  text-align:center;
  line-height:55px;
  cursor:pointer;
}
.box a {
  color:baa96f;
  text-decoration:none;
}
.box:hover a {
  color:white;
}
#fb:hover {
  background-color:#405210;
  color:white;
}
#li:hover {
  background-color:#405210;
  color:white;
}